@font-face {
  font-family: "Bold";
  src: url("../fonts/AirbnbCereal-Bold.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("../fonts/AirbnbCereal-Medium.ttf");
}
@font-face {
  font-family: "Book";
  src: url("../fonts/AirbnbCereal-Book.ttf");
}

* {
  font-family: 'Book';
}

$primary: #147EFF;

html {
	body {
		margin: 0px;
		font-size: 100%;
		.logo {
			max-width: 200px;
			margin-top: 8px;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			&:hover {
				opacity: .9;
			}
		}
		.container {
			width: 86rem;
		}
		header {
			padding: 30px 0px;
			nav {
				ul {
					margin: 0px;
					padding: 0px;
					list-style-type: none;
					li {
						margin: 0px 24px;
						padding: 0px;
						display: inline-block;
						a {
							text-decoration: none;
							color: #000;
							font-family: 'Bold';
						}
					}
				}
			}
		}
		.btn {
			color: #fff;
			background: $primary;
			padding: 12px 48px;
			border-radius: 6px;
			border: 1px solid $primary;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			cursor: pointer;
			&.btn--outline {
				background: transparent;
				color: $primary;
				border: 1px solid $primary;
				&:hover {
					color: #fff;
					background: $primary;
				}
			}
			&:hover {
				background: transparent;
				color: $primary;
				border: 1px solid $primary;
			}
		}
		.outer-container {
			margin: 0px 2vw;
			position: relative;
			// width: 100%;
			&::after {
				content: '';
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.4);
			}
			.row {
				position: relative;
				z-index: 2;
				min-height: 80vh;
			}
		}
		.masthead {
			margin-bottom: 60px;
		}
		h1 {
			font-size: 72px;
			font-family: 'Bold';
		}
		h2 {
			font-size: 48px;
			font-family: 'Bold';
		}
		h4 {
			font-size: 26px;
			font-family: 'Bold';
		}
		h5 {
			font-family: 'Book';
			font-size: 24px;
			line-height: 1.4;
		}
		.side {
			margin-top: 30px;
			position: relative;
			&::after {
				position: absolute;
				left: -20px;
				top: 20px;
				height: 110%;
				content: '';
				width: 1px;
				background: #fff;
			}
		}
		ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			li {
				font-size: 20px;
				line-height: 32px;
				font-family: 'Medium';
			}
		}
		p {
			font-size: 20px;
		}
		.text--white {
			color: #fff;
		}
		.text--light {
			font-family: 'Book';
		}
		.text--bold {
			font-family: 'Bold';
		}
		.text--primary {
			color: $primary;
		}
		.text--medium {
			font-family: 'Medium';
		}
		.bg--primary {
			background: $primary;
		}
		.bg--charcoal {
			background: #2a2a2a;
		}
		.padding {
			padding: 3vw 0px;
		}
		.callout-box {
			margin: 24px auto;
			h2 {
				margin: 0px;
			}
			p {
				margin: 0px;
			}
		}
		.card {
			background: #fff;
			width: 85%;
			padding: 40px 20px 40px;
			display: block;
			border-radius: 6px;
			height: 240px;
			position: relative;
			margin: 20px 0px;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover {
				box-shadow: 0 5px 8px 0 rgba(0,0,0,0.40);
				-webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.40);
			}
			h4 {
				font-size: 20px;
				margin: 0px 0px;
			}
			p {
				font-size: 16px;
			}
			.learn-more {
				margin-bottom: 0px;
				position: absolute;
				bottom: 20px;
				right: 20px;
			}
			&.card--outline {
				border: 1px solid #fff;
				background: transparent;
			}
		}
		.process-block {
			h4 {
				margin-bottom: 0px;
			}
			p {
				margin-top: 4px;
			}
			.box {
				margin: 40px 0px;
				max-width: 90%;
			}
		}
	}
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}